<!doctype html>

<script src="js/dropzone.js"></script>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>microPainter</title>
  <meta name="description" content="microPainter">
</head>

<body>

  <h1 id="siteHeader">&microPainter</h1>

    <div class="container">
      <div class="header">
        <h3 class="text-muted">How To Upload a File</h3>
      </div>
      <hr/>
      <div>
      
      <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form>
      </div>
    </div>

</body>

</html>

